In [51]:
import pandas as pd
import numpy as np

In [52]:
celeb_heights_csv_name = 'data/celeb-heights-2025-03-13.csv'
notion_data_csv_name = 'data/notion-data-2025-04-08.csv'

In [53]:
celeb_heights = pd.read_csv(celeb_heights_csv_name)
notion_data = pd.read_csv(notion_data_csv_name)

In [54]:
merged = pd.merge(celeb_heights[['Name', 'Height', 'Image', 'URL']], notion_data[['Name', 'Height', 'ID', 'Category']], on='Name', how='outer', indicator=True)
# only combines if height not specified in notion data
combined = merged[(merged['_merge'] == 'both') & (merged['Height_y'].isna())].drop(columns=['Height_y']).rename(columns={'Height_x': 'Height'})
# include people with heights specified in notion data
unmatched = merged[(merged['_merge'] == 'right_only') | (merged['Height_y'].notna())].drop(columns=['Height_y']).rename(columns={'Height_x': 'Height'})

In [55]:
new_order = ['ID', 'Name', 'Height', 'Image', 'Category', 'Source']

In [56]:
combined['Source'] = [['Celeb Heights']] * len(combined)
combined.drop(columns=['_merge'], inplace=True)
combined = combined[new_order]
combined

,ID,Name,Height,Image,Category,Source
22,726.0,Aaron Paul,172.0,https://www.celebheights.com/tr/a/aaronpaul.jpg,[Acting],[Celeb Heights]
75,340.0,Adam Driver,189.0,https://www.celebheights.com/tr/a/adamdriver.jpg,[Acting],[Celeb Heights]
97,221.0,Adam Scott,175.0,https://www.celebheights.com/tr/a/adamscott.jpg,[Acting],[Celeb Heights]
119,282.0,Adolf Hitler,174.0,https://www.celebheights.com/tr/a/adolfhitler.jpg,"[Politics,Historical]",[Celeb Heights]
201,438.0,Al Gore,185.0,https://www.celebheights.com/tr/a/algore.jpg,[Politics],[Celeb Heights]
...,...,...,...,...,...,...
14289,280.0,Winston Churchill,169.0,https://www.celebheights.com/tr/w/winstonchurc...,"[Politics,Historical]",[Celeb Heights]
14294,259.0,Wiz Khalifa,190.0,https://www.celebheights.com/tr/w/wizkhalifa.jpg,[Music],[Celeb Heights]
14301,560.0,Woody Allen,165.0,https://www.celebheights.com/tr/w/woodyallen.jpg,[Filmmakers],[Celeb Heights]
14380,289.0,Zac Efron,173.0,https://www.celebheights.com/tr/z/zacefron.jpg,[Acting],[Celeb Heights]
14392,605.0,Zachary Levi,191.0,https://www.celebheights.com/tr/z/zacharylevi.jpg,[Acting],[Celeb Heights]

In [57]:
unmatched = pd.merge(unmatched['Name'], notion_data)
custom = unmatched[unmatched['Height'].notna() & unmatched['Image'].notna()]
custom = custom[new_order]
custom

,ID,Name,Height,Image,Category,Source
0,265,21 Savage,182.0,https://www.celebheights.com/tr/0/21savage.jpg,[Music],[Celeb Heights]
1,14,Abraham Lincoln,192.0,https://www.celebheights.com/tr/a/abrahamlinco...,"[Presidents,Historical]",[Celeb Heights]
2,109,Adam Sandler,177.0,https://www.celebheights.com/tr/a/adamsandler.jpg,"[Acting,Comedy]",[Celeb Heights]
3,199,Adam Savage,179.0,https://www.celebheights.com/tr/a/adamsavage.jpg,"[Influencers,Acting]",[Celeb Heights]
4,95,Addison Rae,160.0,https://www.celebheights.com/tr/a/addisonrae.jpg,[Influencers],[Celeb Heights]
...,...,...,...,...,...,...
305,516,Woodrow Wilson,180.0,https://upload.wikimedia.org/wikipedia/commons...,[Presidents],[IMDb]
306,662,Xi Jinping,180.0,https://upload.wikimedia.org/wikipedia/commons...,[Politics],[IMDb]
307,740,Zack Snyder,170.0,https://upload.wikimedia.org/wikipedia/commons...,[Filmmakers],[IMDb]
308,156,Zendaya,174.0,https://www.celebheights.com/tr/z/zendaya.jpg,[Acting],[Celeb Heights]
309,680,Pat Sajak,178.0,https://upload.wikimedia.org/wikipedia/commons...,[Acting],[IMDb]

In [58]:
unmatched = unmatched[unmatched['Height'].isna() | unmatched['Image'].isna()]
unmatched = unmatched[new_order]
unmatched

      ID                 Name  Height Image                 Category  Source
13   671  Alexander the Great     NaN   NaN             [Historical]      []
21   180            Aristotle     NaN   NaN             [Historical]      []
35   691             Bob Ross   188.0   NaN            [Influencers]  [IMDb]
45   665    Charles de Gaulle     NaN   NaN             [Historical]      []
58   189                  Dev   171.0   NaN                  [Other]    [Us]
61    97       Dixie D'Amelio     NaN   NaN            [Influencers]      []
71   501          Elizabeth I     NaN   NaN             [Historical]      []
79   588         Enrico Fermi     NaN   NaN             [Scientists]      []
86    17      Galileo Galilei     NaN   NaN  [Historical,Scientists]      []
87   185         Genghis Khan     NaN   NaN             [Historical]      []
121  594          James Dyson     NaN   NaN                   [Tech]      []
150  593            John Muir     NaN   NaN             [Historical]      []
157   38        Julius Caesar     NaN   NaN             [Historical]      []
228  584           Niels Bohr     NaN   NaN             [Scientists]      []
240  675       Queen Victoria     NaN   NaN             [Historical]      []
256   89             Sal Khan     NaN   NaN            [Influencers]      []
270  520             Socrates     NaN   NaN             [Historical]      []

In [59]:
final = pd.concat([combined, custom]).sort_values(by='ID')
final['ID'] = final['ID'].astype(int)
final.to_csv('data/final_data.csv', index=False)

In [60]:
unmatched.to_csv('data/unmatched_data.csv', index=False)