In [21]:
import pandas as pd
import numpy as np

In [22]:
celeb_heights_csv_name = 'data/celeb-heights-2025-03-13.csv'
notion_data_csv_name = 'data/notion-data-2025-12-22.csv'

In [23]:
celeb_heights = pd.read_csv(celeb_heights_csv_name)
notion_data = pd.read_csv(notion_data_csv_name)

In [24]:
merged = pd.merge(celeb_heights[['Name', 'Height', 'Image', 'URL']], notion_data[['Name', 'Height', 'ID', 'Category']], on='Name', how='outer', indicator=True)
# only combines if height not specified in notion data
combined = merged[(merged['_merge'] == 'both') & (merged['Height_y'].isna())].drop(columns=['Height_y']).rename(columns={'Height_x': 'Height'})
# include people with heights specified in notion data
unmatched = merged[(merged['_merge'] == 'right_only') | (merged['Height_y'].notna())].drop(columns=['Height_y']).rename(columns={'Height_x': 'Height'})

In [25]:
new_order = ['ID', 'Name', 'Height', 'Image', 'Category', 'Source']

In [26]:
combined['Source'] = [['Celeb Heights']] * len(combined)
combined.drop(columns=['_merge'], inplace=True)
combined = combined[new_order]
combined

,ID,Name,Height,Image,Category,Source
23,726.0,Aaron Paul,172.0,https://www.celebheights.com/tr/a/aaronpaul.jpg,[Acting],[Celeb Heights]
76,340.0,Adam Driver,189.0,https://www.celebheights.com/tr/a/adamdriver.jpg,[Acting],[Celeb Heights]
98,221.0,Adam Scott,175.0,https://www.celebheights.com/tr/a/adamscott.jpg,[Acting],[Celeb Heights]
120,282.0,Adolf Hitler,174.0,https://www.celebheights.com/tr/a/adolfhitler.jpg,"[Politics,Historical]",[Celeb Heights]
153,976.0,Afrojack,202.0,https://www.celebheights.com/tr/a/afrojack.jpg,[Music],[Celeb Heights]
...,...,...,...,...,...,...
14378,912.0,XXXTentacion,168.0,https://www.celebheights.com/tr/x/xxxtentacion...,[Music],[Celeb Heights]
14432,957.0,Yung Gravy,198.0,https://www.celebheights.com/tr/y/yunggravy.jpg,[Music],[Celeb Heights]
14447,289.0,Zac Efron,173.0,https://www.celebheights.com/tr/z/zacefron.jpg,[Acting],[Celeb Heights]
14472,960.0,Zara Larsson,163.0,https://www.celebheights.com/tr/z/zaralarsson.jpg,[Music],[Celeb Heights]
14476,925.0,Zayn Malik,172.0,https://www.celebheights.com/tr/z/zaynmalik.jpg,[Music],[Celeb Heights]

In [27]:
unmatched = pd.merge(unmatched['Name'], notion_data)
custom = unmatched[unmatched['Height'].notna() & unmatched['Image'].notna()]
custom = custom[new_order]
custom

,ID,Name,Height,Image,Category,Source
0,265,21 Savage,182.0,https://www.celebheights.com/tr/0/21savage.jpg,[Music],[Celeb Heights]
1,952,APL.DE.AP,168.0,https://upload.wikimedia.org/wikipedia/commons...,[Music],[IMDb]
2,14,Abraham Lincoln,192.0,https://www.celebheights.com/tr/a/abrahamlinco...,"[Presidents,Historical]",[Celeb Heights]
3,109,Adam Sandler,177.0,https://www.celebheights.com/tr/a/adamsandler.jpg,"[Acting,Comedy]",[Celeb Heights]
4,199,Adam Savage,179.0,https://www.celebheights.com/tr/a/adamsavage.jpg,"[Influencers,Acting]",[Celeb Heights]
...,...,...,...,...,...,...
408,605,Zachary Levi,191.0,https://upload.wikimedia.org/wikipedia/commons...,[Acting],[Celeb Heights]
409,740,Zack Snyder,170.0,https://upload.wikimedia.org/wikipedia/commons...,[Filmmakers],[IMDb]
410,156,Zendaya,174.0,https://www.celebheights.com/tr/z/zendaya.jpg,[Acting],[Celeb Heights]
411,791,deadmau5,175.0,https://upload.wikimedia.org/wikipedia/commons...,[Music],[IMDb]
412,781,xQc,188.0,https://upload.wikimedia.org/wikipedia/commons...,[Influencers],[Google]

In [28]:
unmatched = unmatched[unmatched['Height'].isna() | unmatched['Image'].isna()]
unmatched = unmatched[new_order]
unmatched

      ID                 Name  Height Image                 Category  Source
14   671  Alexander the Great     NaN   NaN             [Historical]      []
24   180            Aristotle     NaN   NaN             [Historical]      []
32   888          Ben E. King     NaN   NaN                  [Music]      []
39   982             Big Shaq     NaN   NaN                  [Music]      []
60   665    Charles de Gaulle     NaN   NaN             [Historical]      []
80   189                  Dev   171.0   NaN                  [Other]    [Us]
83    97       Dixie D'Amelio     NaN   NaN            [Influencers]      []
84   954              Doechii     NaN   NaN                  [Music]      []
96   501          Elizabeth I     NaN   NaN             [Historical]      []
105  588         Enrico Fermi     NaN   NaN             [Scientists]      []
109  950               Fergie     NaN   NaN                  [Music]      []
115   17      Galileo Galilei     NaN   NaN  [Historical,Scientists]      []
116  185         Genghis Khan     NaN   NaN             [Historical]      []
148  767          Ivan Pavlov     NaN   NaN             [Scientists]      []
163  594          James Dyson     NaN   NaN                   [Tech]      []
196  593            John Muir     NaN   NaN             [Historical]      []
205   38        Julius Caesar     NaN   NaN             [Historical]      []
292  584           Niels Bohr     NaN   NaN             [Scientists]      []
300  826                 P!nk     NaN   NaN                  [Music]      []
340   89             Sal Khan     NaN   NaN            [Influencers]      []
343  787         Scatman John   181.0   NaN                  [Music]  [IMDb]
359  520             Socrates     NaN   NaN             [Historical]      []
360  748      Sonia Sotomayor     NaN   NaN               [Politics]      []

In [29]:
final = pd.concat([combined, custom]).sort_values(by='ID')
final['ID'] = final['ID'].astype(int)
final.to_csv('data/final_data.csv', index=False)

In [30]:
unmatched.to_csv('data/unmatched_data.csv', index=False)